

body {
  background-color: $theme-color;
  display: flex;
  align-items: center;
  justify-content: center;
  font-family: $main-font;
  transition: .5s;
}

.btn {
  background-color: $theme-color;
  transition: .5s;
}

.loading{
  position: relative;
  padding: 10px 0;
  display: none;
}

.weather-container {
  position: absolute;
  top: 15%;
  text-align: center;
  padding: 10px;

  @media screen and (max-width: $mobile-breakpoint) {
    top: 15%;
    margin-bottom: 50px;
  }

  .page-title {
    color: #fff;
    margin-bottom: 15px;
  }

  .weather-wrapper {
    background-color: white;
    padding: 30px 50px;
    min-width: 500px;
    max-width: 500px;
    border-radius: 3px;
    color: $theme-color;

    @media screen and (max-width: $mobile-breakpoint) {
      padding: 25px 30px;
      min-width: initial;
    }
  }
}

.credits {
  margin-top: 8px;
  color: white;
  font-size: 12px;
}

#source-link {
  position: absolute;
  top: 10px;
  right: 10px;
  color: white;
  font-size: 40px;

  @media screen and (max-width: $mobile-breakpoint) {
    position: absolute;
    top: 90%;
    left: 50%;
    color: white;
    width: 30px;
    font-size: 30px;
    height: 30px;
    transform: translateX(-50%);
  }
}