
body {
  background-color: $theme-color;
  display: flex;
  align-items: center;
  justify-content: center;
  font-family: $main-font;
  transition: .5s;
}

.btn {
  background-color: $theme-color;
  transition: .5s;
}

.loading {
  position: relative;
  padding: 10px 0;
  text-align: center;
}

.weather-container {
  position: absolute;
  top: 15%;
  padding: 10px;

  @media screen and (max-width: $mobile-breakpoint) {
    top: 15%;
    margin-bottom: 50px;
  }

  .page-title {
    color: #fff;
    margin-bottom: 15px;
    text-align: center;
    font-weight: bold;
  }

  .weather-wrapper {
    background-color: white;
    padding: 30px 50px;
    min-width: 500px;
    max-width: 500px;
    border-radius: 3px;
    position: relative;
    color: $theme-color;

    @media screen and (max-width: $mobile-breakpoint) {
      padding: 25px 30px;
      min-width: initial;
    }

    .weather-info {
      display: none;

      .weather-location {
        font-size: 20px;
        text-align: center;
      }

      .weather-temperature {
        display: flex;
        justify-content: center;
        align-items: center;

        .weather-icon {
          margin-right: 15px;

          > img{
            width: 50px;
            height: 50px;
          }
        }

        .temperature-wrapper {
          font-size: 40px;
          font-weight: bold;
        }
      }

      .weather-description {
        text-align: center;
      }

      .weather-detail-wrapper{
        font-size: 0.9rem;

        @media screen and (max-width: $mobile-breakpoint) {
          text-align: center;
        }
      }

      .convert-weather {
        position: absolute;
        right: 10px;
        top: 5px;
        font-size: 12px;
        cursor: pointer;
      }

    }

  }
}

.credits {
  margin-top: 8px;
  color: white;
  font-size: 12px;
  text-align: center;
}

#source-link {
  position: absolute;
  top: 10px;
  right: 10px;
  color: white;
  font-size: 40px;

  @media screen and (max-width: $mobile-breakpoint) {
    position: absolute;
    top: 90%;
    left: 50%;
    color: white;
    width: 30px;
    font-size: 30px;
    height: 30px;
    transform: translateX(-50%);
  }
}