
body {
  background-color: $theme-color;
  font-family: $main-font;
  transition: .5s;
}

input:focus {
  outline: 0;
}

.btn {
  background-color: $theme-color;
  transition: .5s;
}

.btn-icons {
  color: #fff;
  transition: .5s;
}

.btn-icons:focus {
  outline: 0;
}

.viewer-container {
  margin-top: 150px;

  .page-title {
    color: #fff;
    margin-bottom: 15px;
    text-align: center;
    font-weight: bold;
  }

  .search-wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 20px;
    margin-bottom: 20px;
    flex-wrap: wrap;

    .btn-icons {
      font-size: 25px;
    }

    .search-article-wrapper {
      position: relative;
      display: inline-block;

      .reset-value {
        position: absolute;
        right: 5px;
        top: 1px;
        padding: 5px;
        font-size: 18px;
      }

      .search-article {
        position: relative;
        width: 200px;
        background-color: transparent;
        color: #fff;
        border: 2px solid #fff;
        border-radius: 15px;
        padding: 5px 35px 5px 10px;
        color: white;

        @media screen and (max-width: $mobile-breakpoint) {
          width: 150px;
        }
      }

      .search-article::placeholder {
        color: #fff;
      }
    }
  }

  .articles-wrapper {
    color: $theme-color;
    text-align: center;
    margin: 0 auto;
    width: 90%;

    @media screen and (max-width: $mobile-breakpoint) {
      width: 97%;
    }

    .article-error {
      text-align: center;
      border-radius: 3px;
      padding: 15px 30px;
      background-color: #fff;
      margin: 0 auto 10px;
      color: darkred;
    }

    .article-item {
      text-align: left;
      border-radius: 3px;
      display: block;
      padding: 30px 50px;
      background-color: #fff;
      margin: 0 auto 10px;
      transition: .1s;
      color: $theme-color;
      text-decoration: none;

      @media screen and (max-width: $mobile-breakpoint) {
        padding: 15px 20px;
      }

      &:hover {
        transform: scale(1.01);
        margin-bottom: 15px;
        cursor: pointer;
        box-shadow: 0px 0px 20px 1px rgba(0, 0, 0, 0.5);
      }

      .article-title {
        margin: 0;
      }

      .article-text {
        margin-bottom: 0;
        margin-top: 10px;
      }
    }
  }
}

.credits {
  margin-top: 8px;
  color: white;
  font-size: 12px;
  text-align: center;
}

#source-link {
  position: absolute;
  top: 10px;
  right: 10px;
  color: white;
  font-size: 40px;

  @media screen and (max-width: $mobile-breakpoint) {
    font-size: 30px;
    top: 5px;
    right: 5px;
  }
}